body
{
    margin: auto;
    margin-top: 2em;
    max-width: 45em;
}

#title a
{
    text-decoration: none;
    color: black;
}

#title
{
    transition: transform 500ms;
}

#title:hover
{
    transform: scale(0.9, 0.9) translateX(-5%);
}

.hide_chat
{
    text-decoration: none;
    color: black;
}

.error
{
    color: red;
}