body
{
    margin: auto;
    margin-top: 2em;
    max-width: 45em;
}

#title a
{
    text-decoration: none;
    color: black;
}

.hide_chat
{
    text-decoration: none;
    color: black;
}

.error
{
    color: red;
}