body
{
    margin: auto;
    margin-top: 2em;
    max-width: 45em;
    background-image: linear-gradient(to right top, #6ce0a2 10%, white 30%);
    background-attachment: fixed;
    font-size: 20px;
}

#title a
{
    text-decoration: none;
    color:#6ce0a2;
    text-decoration: underline;
}

#title
{   
    animation: change 7s;
    animation-iteration-count: infinite;
    transition: transform 500ms;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@keyframes change {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.95, 0.95) translateX(-1.5%);
    }
}

#title:hover
{
    animation-play-state: paused;
    transform: scale(0.9, 0.9) translateX(-5%);
}

.hide_chat
{
    text-decoration: none;
    color: black;
}

.error
{
    color: red;
}

.chatmessage
{
    overflow-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, antiquewhite, white);
    border-radius: .5em;
    padding: 3px;
}

.content
{
    font-size: 22px;
}

.message_meta
{
    font-size: 20px;
    color: gray;
}