{% extends "index.html" %}
{% block title %}Chat{% endblock %}
{% block content %}

<p style="color:gray">Chat users:
    {% for user in users %}
    <span style={{ "color:gray" if not user[2] else "color:green" }} id={{ "u_" + user[1]|string }} >{{ user[0] }}</span>{{ ", " if not loop.last else "" }}
    {% endfor %}
</p>

<input id="chatbox" type="text" autofocus />

<div id="messages">

</div>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>

{% endblock %}