{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<h2>Please log in.</h2>
<form action="" id="login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="login_password" name="password">
</form>
<p id="login_error" class="error"></p>
<h2>If you cannot log in, create a new account.</h2>
<form action="" id="register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" maxlength="20">
    <label for="password">Password:</label>
    <input type="password" id="register_password" name="password">
</form>
<p id="register_error" class="error"></p>

<script src="{{ url_for('static', filename='login.js') }}"></script>

{% endblock %}